@font-face {
  font-family: "Ubuntu";
  src: url(./assets/fonts/Ubuntu-Bold.ttf);
  src: url(./assets/fonts/Ubuntu-Medium.ttf);
  src: url(./assets/fonts/Ubuntu-Regular.ttf);
}


:root{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  font-family: "Ubuntu";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

